@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    padding: 0 5rem;
    text-align: center;
    transition: background 0.3s, linear, color 0.3s linear;
}

body.dark-mode {
    background-color: #1f1f1f;
    color: white;
}

label {
    user-select: none;
    cursor: pointer;
}

input {
    visibility: hidden;
}